/* Webfont: MinionPro-It */@font-face {
  font-family: 'MinionPro';
  src: url('../fonts/MinionPro-It.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MinionPro-It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../fonts/MinionPro-It.woff') format('woff'), /* Modern Browsers */
	   url('../fonts/MinionPro-It.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/MinionPro-It.svg#MinionPro-It') format('svg'); /* Legacy iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: CircularProTT-Book */@font-face {
  font-family: 'CircularProTTBook';
  src: url('../fonts/CircularProTT-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CircularProTT-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../fonts/CircularProTT-Book.woff') format('woff'), /* Modern Browsers */
	   url('../fonts/CircularProTT-Book.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/CircularProTT-Book.svg#CircularProTT-Book') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


/* Webfont: CircularProTT-BoldItalic */@font-face {
  font-family: 'CircularProTTBoldItalic';
  src: url('../fonts/CircularProTT-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CircularProTT-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../fonts/CircularProTT-BoldItalic.woff') format('woff'), /* Modern Browsers */
	   url('../fonts/CircularProTT-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/CircularProTT-BoldItalic.svg#CircularProTT-BoldItalic') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: CircularProTT-Bold */@font-face {
  font-family: 'CircularProTTBold';
  src: url('../fonts/CircularProTT-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CircularProTT-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../fonts/CircularProTT-Bold.woff') format('woff'), /* Modern Browsers */
	   url('../fonts/CircularProTT-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/CircularProTT-Bold.svg#CircularProTT-Bold') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: CircularProTT-BookItalic */@font-face {
  font-family: 'CircularProTTBookItalic';
  src: url('../fonts/CircularProTT-BookItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/CircularProTT-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('../fonts/CircularProTT-BookItalic.woff') format('woff'), /* Modern Browsers */
	   url('../fonts/CircularProTT-BookItalic.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/CircularProTT-BookItalic.svg#CircularProTT-BookItalic') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
.error{
  border-bottom: 1px solid #FF0000!important;
}
/* 
PALETTE COLOR  
BLUE : 282C3F
menuopen : F7EDED
*/
body{
  background-color: #F7EDED;
}
a:hover,a:focus{
  color: #282C3F;
}

header{
  padding: 20px 10px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 50;
  transition: .5s ease all;
}

header span.logo{
  width: 20px;
  height: 51px;
  opacity: 0;
}

header span#btn-menu{
  width: 26px;
  height: 21px;
  background: url("../img/btn-menu-w.png");
  background-size: 100%;
  display: block;
  cursor: pointer;
}

header span#btn-close{
  width: 22px;
  height: 22px;
  background: url("../img/btn-close-b.png");
  background-size: 100%;
  display: block;
  cursor: pointer;
}

header.mode-stick {
  background-color: #FFF;
  transition: .5s ease all;
}

header.mode-stick .logo {
  opacity: 1;
  width: 128px;
  height: 51px;
  background: url("../img/logo-navbar.png");
  background-size: 100%;
  margin-left: -79px;
}

header.mode-stick #btn-menu {
  width: 26px;
  height: 21px;
  background: url("../img/btn-menu-b.png");
  background-size: 100%;
}

.menu-full {
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  z-index: 30;
  transition: .5s ease all;
  background-color: #F7EDED;
  position: fixed;
  top:0;
  transition: .5s ease all;
}

.menu-full.close{
  left: 100vw;
}

.menu-full.open{
  left: 0;  
} 

.menu-full nav {
  text-align: center;
}

.menu-full nav a{
  font-family: 'CircularProTTBook';
  font-size: 32px;
  font-weight: normal;
  color: #282C3F;
  display: block;
}

section.full-height{
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#hero{
  background-color: #282C3F;
}

section#hero h2{
  background-image: url("../img/logo.png");
  text-indent: -9999px;
  width:250px;
  height: 100px;
  background-size: 100%
}

footer{
  background-color: #FFF;
  padding: 20px 142px;
}

footer .container-fluid > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

footer a,footer span {
  font-family: 'CircularProTTBook';
  font-size: 12px;
  font-weight: normal;
  color: #282C3F;
  display: block;
}

footer h3 {
  font-family: 'CircularProTTBook';
  font-size: 8px;
  font-weight: normal;
  text-align: center;
  color: #282C3F;
}


footer .border-r{
  border-right: 1px solid  #282C3F;
}

footer .b-mini-logo > a {
  background: url(../img/mini-logo.png);
  width: 34px;
  height: 35px;
  background-size: 100%;
  margin-right: 45px;
  
}

footer .b-locations,
footer .b-data {
  padding: 14px 45px;
  align-items: center;
}
/* BOX LOCATIONS */
footer .b-locations .dire{
  display: inline-block;
}
/* BOX DATA */
footer .b-data{
  padding-left: 30px;
  padding-right: 30px;
}
footer .b-data > div{
  margin: 0px;
}
footer .b-data i.fb{
  margin-right: 10px;
  display: inline-block;
  background: url(../img/fb.png);
  width: 19px;
  height: 19px;
  background-size: 100%;
  
}

footer .b-data i.ig{
  display: inline-block;
  background: url(../img/ig.png);
  width: 19px;
  height: 19px;
  background-size: 100%;
}
/* BOX PARTNERS */
footer .b-partners > div {
  margin-left: 30px;
}

footer .b-partners .partner-proy{
  background: url(../img/logo-proy.png);
  width: 47px;
  height: 33px;
  background-size: 100%;
}

footer .b-partners .partner-des{
  background: url(../img/logo-des.png);
  width: 40px;
  height: 33px;
  background-size: 100%;
}

footer .b-partners .partner-com{
  background: url(../img/logo-com.png);
  width: 63px;
  height: 24px;
  background-size: 100%;
}

/* MAIN BG IMAGE */
.main-bg-image{
  height: calc(100vh - 91px);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 70px;
}

.main-bg-image .filter{
  background-color: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: 10;
}

.main-bg-image .title{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

/* CONTENT */
.content{
  padding: 0px 70px;
}

/* MAIN TEXT */
.main-text {
  margin-bottom: 60px;
}
.main-text p {
  font-family: 'CircularProTTBook';
  font-size: 22px;
  font-weight: normal;
  color: #282C3F;
  display: block;
  text-align: center;
}
.main-text .line {
  background-color: #282C3F;
  width: 66px;
  height: 1px;
  display: block;
  margin: 30px auto 30px auto;
}
.main-text p.desc {
  font-family: 'CircularProTTBook';
  font-size: 24px;
  font-weight: normal;
  color: #282C3F;
  display: block;
  text-align: center;
}
/* IMG FLUID */
.img-fluid{
  display: block;
  width: 100%;
}
.only-img {
  margin-bottom: 60px;
}

/* CONTENT IMAGE TEXT */
.content-img-text {
  margin-bottom: 60px;
}

.content-img-text .col-text {
  padding-left: 50px;
  height: 100%;
}

.content-img-text .col-text span.line {
  background-color: #282C3F;
  width: 66px;
  height: 1px;
  margin-bottom: 30px;
  display: block;
}

.content-img-text .col-text p {
  font-family: 'CircularProTTBook';
  font-size: 18px;
  font-weight: normal;
}
/* FULL LINE */
.full-line {
  width: 100%;
  height: 1px;
  background-color: #282C3F;
  margin-bottom: 60px;
  display: block;
}
.data-unity-line {
  width: 100%;
  height: 1px;
  background-color: #282C3F;
  margin: 20px 0px;
  display: block;
}
/* img-with-title */
.img-with-title{
  margin-bottom: 20px;
}
/* title img */
.title-img {
  font-family: 'MinionPro';
  font-size: 22px;
  font-weight: normal;
  color: #282C3F
}

/* UBICACION */
#ubicacion .main-bg-image .title h2{
  text-indent: -9999px;
  width: 286px;
  height: 45px;
  background-image: url(../img/ubicacion/title-section.png);
  background-size: 100%;
  text-transform: capitalize;
}

.phrase {
  font-family: 'CircularProTTBookItalic';
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
}

.ubi-grid {
  margin-bottom: 60px;
}

.gmap{
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #282C3F
}

/* EDIFICIOS */
#edificios .main-bg-image .title h2{
  text-indent: -9999px;
  width: 358px;
  height: 37px;
  background-image: url(../img/edificios/title-section.png);
  background-size: 100%;
  text-transform: capitalize;
}
#edificios .grid-edificios {
  margin-bottom: 30px;
}

#edificios .grid-edificios img {
  margin-bottom: 60px;
}
#edificios .grid-edificios span {
  margin: auto;
  display: block;
  text-align: center;
  font-family: 'CircularProTTBook';
  font-size: 22px;
  font-weight: normal;
}
/* UNIDADES */
#unidades .main-bg-image .title h2{
  text-indent: -9999px;
  width: 362px;
  height: 37px;
  background-image: url(../img/unidades/title-section.png);
  background-size: 100%;
  text-transform: capitalize;
}
#unidades .data-unity {
  display: none;
}
#unidades .data-unity.active {
  display: block;
}
#unidades .data-unity span{
  display: block;
}

#unidades .data-unity .unidad{
  font-family: 'CircularProTTBold';
  font-size: 30px;
  font-weight: normal;
}
#unidades .data-unity .piso{
  font-family: 'CircularProTTBook';
  font-size: 26px;
  font-weight: normal;
}
#unidades .data-unity .tipo{
  text-transform: uppercase;
}

#unidades .data-unity span,
#unidades .data-unity p{
  font-family: 'CircularProTTBook';
  font-size: 15px;
  font-weight: normal;
}


#unidades img.plano{
  width: 500px;
  margin: auto;
}
/* #unidades .slick {
  width: 100%;
}

#unidades .slick span {
  display: block;
} */

/* AMENITIES */
#amenities .main-bg-image .title h2{
  text-indent: -9999px;
  width: 278px;
  height: 37px;
  background-image: url(../img/amenities/title-section.png);
  background-size: 100%;
  text-transform: capitalize;
}

#amenities .feature {
  padding: 0px 70px;
  margin-bottom: 60px;
}
#amenities .feature .list{
  padding: 20px 30px;
  border: 1px solid #282C3F;
  text-align: center;
}

#amenities .feature .list p{
  font-family: 'CircularProTTBook';
  font-size: 22px;
  font-weight: normal;
  color:#282C3F;
  margin-bottom: 0px;
  display: inline-block;
}
.title-img.mb-space {
  display: inline-block;
  margin-bottom: 60px;
}


/* CONTACTO */
#contacto {
  width: 100%;
  min-height: 600px;
  background-color: #282C3F;
  padding: 80px 0px;
}
#contacto .content-form {
	width: 500px;
	height: 100%;
	margin: auto;
}
#contacto form {
  display: inline-block;
  width: 100%;
}
#contacto form input,
#contacto form textarea {
  font-family: 'CircularProTTBook';
  font-size: 22px;
  font-weight: normal;
  width: 100%;
  border: 0;
  border-bottom: solid 1px #FFF;
  display: block;
  background: inherit;
  outline: none;
  color: #FFF;
  -webkit-appearance: none;
	border-radius: 0;
	text-align: center;
	margin-bottom: 35px;
	resize: none;
}
#contacto form input::placeholder,
#contacto form textarea::placeholder {
  color: #FFF;
  text-align: center
}

#contacto form input:-ms-input-placeholder,
#contacto form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #FFF;
  text-align: center
}

#contacto form input::-ms-input-placeholder,
#contacto form textarea::-ms-input-placeholder { /* Microsoft Edge */
	color: #FFF;
	text-align: center
}

#contacto form p {
	margin-bottom: 40px;
	color: #FFF;
	text-align: center;
	font-family: 'MinionPro';
  font-size: 20px;
  font-weight: normal;
}

#contacto form button {
	display: block;
	margin: auto;
	-webkit-appearance: button;
	cursor: pointer;
	border: 1px solid white;
	outline: none;
	background: inherit;
	color: #FFF;
	padding: 10px 20px;
}

#contacto .response p {
  font-family: 'CircularProTTBook';
  font-size: 22px;
  font-weight: normal;
  color: #ffffff;
}
/* LOADING */
.bubblingG {
  text-align: center;
  width: 78px;
  height: 49px;
  margin: auto;
  
}

.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 24px auto;
  background: rgb(0, 135, 247);
  border-radius: 49px;
  -o-border-radius: 49px;
  -ms-border-radius: 49px;
  -webkit-border-radius: 49px;
  -moz-border-radius: 49px;
  animation: bubblingG 1.5s infinite alternate;
  -o-animation: bubblingG 1.5s infinite alternate;
  -ms-animation: bubblingG 1.5s infinite alternate;
  -webkit-animation: bubblingG 1.5s infinite alternate;
  -moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
  animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}

#bubblingG_2 {
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
}

#bubblingG_3 {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
  0% {
	  width: 10px;
	  height: 10px;
	  background-color: rgb(0, 135, 247);
	  transform: translateY(0);
  }

  100% {
	  width: 23px;
	  height: 23px;
	  background-color: rgb(255, 255, 255);
	  transform: translateY(-20px);
  }
}

@-o-keyframes bubblingG {
  0% {
	  width: 10px;
	  height: 10px;
	  background-color: rgb(0, 135, 247);
	  -o-transform: translateY(0);
  }

  100% {
	  width: 23px;
	  height: 23px;
	  background-color: rgb(255, 255, 255);
	  -o-transform: translateY(-20px);
  }
}

@-ms-keyframes bubblingG {
  0% {
	  width: 10px;
	  height: 10px;
	  background-color: rgb(0, 135, 247);
	  -ms-transform: translateY(0);
  }

  100% {
	  width: 23px;
	  height: 23px;
	  background-color: rgb(255, 255, 255);
	  -ms-transform: translateY(-20px);
  }
}

@-webkit-keyframes bubblingG {
  0% {
	  width: 10px;
	  height: 10px;
	  background-color: rgb(0, 135, 247);
	  -webkit-transform: translateY(0);
  }

  100% {
	  width: 23px;
	  height: 23px;
	  background-color: rgb(255, 255, 255);
	  -webkit-transform: translateY(-20px);
  }
}

@-moz-keyframes bubblingG {
  0% {
	  width: 10px;
	  height: 10px;
	  background-color: rgb(0, 135, 247);
	  -moz-transform: translateY(0);
  }

  100% {
	  width: 23px;
	  height: 23px;
	  background-color: rgb(255, 255, 255);
	  -moz-transform: translateY(-20px);
  }
}

/* MEDIUM */
@media (min-width: 768px) and (max-width: 992px) {
  section.full-height{
		height: calc(100vh - 256px);
	}
  footer {
    padding: 20px 15px;
  }
  
  footer .container-fluid > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .border-r{
    border-right: none;
  }

  footer .b-mini-logo > a{
    margin-right: 0px;
  }

  footer a, footer span{
    text-align: center;
  }

  footer .b-locations, footer .b-data{
    padding: 14px 0px;
  }

  footer .b-partners > div{
    margin-left: 0px;
  }
}
/* MEDIUM */
@media (min-width: 576px) and (max-width: 768px) {
  .text-mobile {
		padding: 0px 40px;
		text-align: center;
  }
  
  .content-img-text .col-text span.line{
		margin-left: auto;
    margin-right: auto;
		margin-top: 40px;
		margin-bottom: 20px;
  }
  
  section.full-height{
		height: calc(100vh - 256px);
	}
  footer {
    padding: 20px 15px;
  }
  
  footer .container-fluid > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .border-r{
    border-right: none;
  }

  footer .b-mini-logo > a{
    margin-right: 0px;
  }

  footer a, footer span{
    text-align: center;
  }

  footer .b-locations, footer .b-data{
    padding: 14px 0px;
  }

  footer .b-partners > div{
    margin-left: 0px;
  }
}

/* MOBILE */
@media only screen and (max-width: 576px) {

	.content{
		padding: 0px 0px;
	}
	
	.text-mobile {
		padding: 0px 40px;
		text-align: center;
	}
	
	.phrase{
		margin-top: 60px;
	}
	
	.ubi-grid{
		margin-bottom: 0px;
	}

	.full-line{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.content-img-text .col-text span.line{
		margin-left: auto;
    margin-right: auto;
		margin-top: 40px;
		margin-bottom: 20px;
	}
	
	#ubicacion .main-bg-image .title h2{
		width: 226px;
		height: 37px;
	}
	
	#edificios .main-bg-image .title h2{
		width: 298px;
		height: 30px;
	}

	#unidades .main-bg-image .title h2{
		width: 302px;
		height: 30px;
	}

	#amenities .main-bg-image .title h2{
		width: 218px;
		height: 30px;
	}

  footer {
    padding: 20px 15px;
  }
    
  footer .container-fluid > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .border-r{
    border-right: none;
  }

  footer .b-mini-logo > a{
    margin-right: 0px;
  }

  footer a, footer span{
    text-align: center;
  }

  footer .b-locations, footer .b-data{
    padding: 14px 0px;
  }

  footer .b-partners > div{
    margin-left: 0px;
  }

	section.full-height{
		height: calc(100vh - 256px);
	}

  #edificios .grid-edificios{
		margin-bottom: 0px;
	}

	#edificios .grid-edificios img{
		margin-bottom: 20px;
	}

	#edificios .grid-edificios span{
		margin-bottom: 20px;
	}

	#unidades .data {
		padding: 0px 40px;
	}

	#unidades img.plano{
		width:100%;	
	}

	#amenities .feature{
		padding: 0px 40px;
	}
	
	#contacto .content-form{
		width: 100%;
		padding: 0px 15px;
	}
}

