/* Webfont: CircularProTT-BoldItalic */@font-face {
    font-family: 'CircularProTTBoldItalic';
    src: url('CircularProTT-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('CircularProTT-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('CircularProTT-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('CircularProTT-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('CircularProTT-BoldItalic.svg#CircularProTT-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

